<app-hero-visual img="https://picsum.photos/id/26/1024/400/"></app-hero-visual>

<section class="container">
	<h2>{{this.title}}</h2>
	<p class="alert alert-danger">Om dit concept te kunnen testen is deze pagina zichtbaar. Het zou het natuurlijk
		"raar" zijn om gebruikers op deze manier te ontsluiten!</p>

	<p>

	</p>

	<div class="row">
		<div class="col-4 text-center">
			<a href="{{this.toUserUrl('hande')}}">
				<div [innerHTML]="this.convert2QR('hande')"></div>
			</a>

			<p>
				<strong>Hande Depeli</strong>
				<br />
				Recruitment Business Partner
				<br />
				<i>INTERSTELLAR</i>
			</p>
		</div>
		<div class="col-4 text-center">
			<a href="{{this.toUserUrl('matthijs')}}">
				<div [innerHTML]="this.convert2QR('matthijs')"></div>
			</a>

			<p>
				<strong>Matthijs Kamstra</strong>
				<br />
				Tribe Lead Modern Software Engineers | 🦄
				<br />
				<i>RawWorks</i>
			</p>
		</div>
		<div class="col-4 text-center">
			<a href="{{this.toUserUrl('rollup')}}">
				<div [innerHTML]="this.convert2QR('rollup')"></div>
			</a>
			<p>
				<strong>Rollup</strong>
				<br />
				<br />
				<i>
					INTERSTELLAR
				</i>
			</p>
		</div>
	</div>

</section>
