<div class="dropstart">
	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
		data-bs-auto-close="false">
		Login
	</button>
	<div id="loginDropdown" class="dropdown-menu" style="min-width: 300px; max-width: 100%;">
		<div class="px-4 py-3">
			<h3>Login</h3>
			<!-- <app-login (change)="onClickHandler()"></app-login> -->
			<app-login-simple (change)="onClickHandler()"></app-login-simple>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" routerLink="/signup" (click)="onClickHandler()">New around here? Sign up</a>
			<a class="dropdown-item" routerLink="/passwordrecover" (click)="onClickHandler()">Forgot password?</a>
		</div>
	</div>
</div>
