<header>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">🐡</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">

					<!--
						<li class="nav-item">
						<a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
							<app-icons icon="home"></app-icons> Home
						</a>
					</li>
					-->

					<li class="nav-item" *ngFor="let public of publicRoutes">
						<a class="nav-link" [routerLink]="public.path" routerLinkActive="active"
							ariaCurrentWhenActive="page">
							<app-icons icon="{{public.title}}"></app-icons> {{public.title}}
						</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞 Debug
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" [routerLink]="'/uitleg'">Uitleg</a></li>
						</ul>
					</li>


					<li class="nav-item dropdown" *ngIf="!isHiddenIsProduction">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="/styleguide">Styleguide</a></li>
							<li><a class="dropdown-item" href="/oeps">Oeps</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="/user/qr">user/qr</a>
							<li><a class="dropdown-item" href="/user/qr/foooo">user/qr/foo</a>
							</li>
							<li><a class="dropdown-item"
									href="/user/qr/2b40c6d0-3693-4a9f-be42-1fd53d130176">user/qr/2b40c6d0-3693-4a9f-be42-1fd53d130176</a>
							</li>
							<li><a class="dropdown-item"
									href="/user/qr/2b40c6d0-a36f-4f7e-8c14-1042ef6bf7ef">user/qr/2b40c6d0-a36f-4f7e-8c14-1042ef6bf7ef</a>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li *ngFor="let test of testRoutes">
								<a class="dropdown-item" [routerLink]="test.path" routerLinkActive="active" href="#">
									{{test.title}}
								</a>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li *ngFor="let pages of pagesRoutes">
								<a class="dropdown-item" [routerLink]="pages.path" routerLinkActive="active" href="#">
									<app-icons icon="{{pages.title}}"></app-icons> {{pages.title}}
								</a>
							</li>
						</ul>
					</li>
				</ul>

				<ul class="navbar-nav ms-auto" *ngIf="false">
					<app-login-dropdown *ngIf="!isAuthenticated" (change)="onChangeHandler()"></app-login-dropdown>
					<app-profile-dropdown *ngIf="isAuthenticated" (change)="onChangeHandler()"></app-profile-dropdown>
				</ul>

			</div>
		</div>
	</nav>
</header>
